name: Hello World
on: [push]

jobs:
  hello_action_job:
    runs-on: ubuntu-latest
    name: Eat own dogshit
    steps:
    - name: Hello action step
      id: hello
      uses: larrycai/hello-action@main
      with:
        who-to-greet: 'Larry Cai'
    # Use the output from the `hello` step
    - name: Get the output time
      run: |
        echo "The time was ${{ steps.hello.outputs.time }}"
        id
        env
        pwd
        cat /etc/os-release
